{% extends 'frontend/layout.twig' %}

{% block content %}
<!-- Page Title -->
        <div class="page-title bg-img section-padding bg-overlay" style="background-image: url(assets/images/breadcrumb.jpg)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Blog</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Page Title -->
    </header>
    <!-- ====== // Header ====== -->
    <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-area">
                        <div class="row">
                            <!-- Single Blog -->
                            <div class="col-sm-4">
                                <div class="single-blog">
                                    <div class="blog-thumb" style="background-image: url(assets/images/blog/img-1.jpg)"></div>
                                    <h4 class="blog-title"><a href="single-blog.html">Full Responsive</a></h4>
                                    <p class="blog-meta"><a href="#">AL Mamun</a>, 22 FEB 2018</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque similique velit, officiis non.</p>
                                    <a href="single-blog.html" class="button">Read More</a>
                                </div>
                            </div>
                            <!-- Single Blog -->
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6 text-center">
                                <a href="#" class="button blog-btn">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}