{% extends "backend/layout.twig" %}

{% block css %}
        <!-- ====== ALL CSS ====== -->
        <link rel="stylesheet" href="../public/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../public/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../public/assets/css/lightbox.min.css">
        <link rel="stylesheet" href="../public/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../public/assets/css/animate.css">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/assets/css/responsive.css">
{% endblock %}

{% block logo %}
    <!-- Logo -->
    <a class="navbar-brand logo" href="index.html">
        <img src="../public/assets/images/logo.png" alt="logo">
    </a>
    <!-- // Logo -->
{% endblock %}

{% block AdminHome %}<li class="nav-item active"><a class="nav-link" href="../admin">ACCUEIL ADMINISTRATION</a></li>{% endblock %}
{% block home %}<li class="nav-item"><a class="nav-link" href="../">RETOUR SITE</a></li>{% endblock %}

{% block image %}<div class="page-title bg-img section-padding bg-overlay" style="background-image: url(../public/assets/images/breadcrumb.jpg)">{% endblock %}

{% block width %}<div class="container" style="max-width: 800px; margin-top:80px; margin-bottom:80px;">{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-10"><h2>Ajouter un article</h2></div>
        <div class="col-lg-2" style="margin-top: 20px"><a href="../admin">Retour</a></div>
    </div>
    {% if post is defined and post.errors is empty %}
        <div class="alert alert-success" role="alert">
            Votre article a été ajouté !
        </div>
    {% endif %}

    <form class="mt-5" action="" method="post" enctype="multipart/form-data">
        <label for="username">Auteur :</label>
            {% if constant('models\\Post::INVALID_AUTHOR') in post.errors %}
                <div class="alert alert-danger" role="alert">
                    Vous devez renseigner l'auteur !
                </div>
            {% endif %}
        <div class="form-group">
            <input class="form-control" type="text" name="username" value="{{ post.errors is not empty ? post.author }}">
        </div>
        <label for="title">Titre :</label>
            {% if constant('models\\Post::INVALID_TITLE') in post.errors %}
                <div class="alert alert-danger" role="alert">
                    Vous devez ajouter un titre !
                </div>
            {% endif %}
        <div class="form-group">
            <input class="form-control" type="text" name="title" value="{{ post.errors is not empty ? post.title }}">
        </div>
        <label for="teaser">Chapô :</label>
            {% if constant('models\\Post::INVALID_TEASER') in post.errors %}
                <div class="alert alert-danger" role="alert">
                    Ce champ est obligatoire !
                </div>
            {% endif %}
        <div class="form-group">
            <textarea class="form-control" name="teaser">{{ post.errors is not empty ? post.teaser }}</textarea>
        </div>
        <label for="content">Contenu de l'article :</label>
            {% if constant('models\\Post::INVALID_CONTENT') in post.errors %}
                <div class="alert alert-danger" role="alert">
                    Votre article n'a pas de contenu !
                </div>
            {% endif %}
        <div class="form-group">
            <textarea class="form-control" name="content" rows="10">{{ post.errors is not empty ? post.content }}</textarea>
        </div>
        <div class="mt-5 row">
            <div class="col-lg-10">
                <label for="image">Sélectionner l'image : <i>(jpg, jpeg, png, gif)</i></label>
                <div class="form-group">
                    <input type="file" name="image" />
                </div>
            </div>
            <div class="col-lg-2">
                <button type="submit" class="btn btn-primary" style="margin-top: 15px">Ajouter</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block js %}
<!-- ====== ALL JS ====== -->
    <script src="../public/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../public/assets/js/bootstrap.min.js"></script>
    <script src="../public/assets/js/lightbox.min.js"></script>
    <script src="../public/assets/js/owl.carousel.min.js"></script>
    <script src="../public/assets/js/jquery.mixitup.js"></script>
    <script src="../public/assets/js/wow.min.js"></script>
    <script src="../public/assets/js/typed.js"></script>
    <script src="../public/assets/js/main.js"></script>
{% endblock %}