{% extends 'layout.twig' %}

{% block image %}
    <!-- Page Title -->
    <div class="page-title bg-img section-padding bg-overlay" style="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Erreur 404</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- // Page Title -->
{% endblock %}
{% block content %}
    <h1 class="text-center" style="margin: 237px 0">Cette page est introuvable !</h1>
{% endblock %}